.div_nav {
    background-color: plum;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-family: Segoe UI;
    justify-content: space-around;
}


.logo_nav img{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 60px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 600px;
    margin-left: 450px;
    margin-right: -100px;
}

h2 {
    margin-top: 20px;
}
.foto img{
    display: flex; 
    margin-top: 190px;
    /* margin-left: 700px;  */
    width: 50%;
    height: 60vh;
    align-items: center;
    
}
.foto{
    display: flex;
}


body{
    background-color: aliceblue;
}

.conteudo{
    display: flex;
    flex-direction: row;
}

p {
    display: flex;
    color: black;
}

.hist {
    display: flex;
    flex-direction: column;
    
    
}
.foto {
    display: flex;
}

.div_textohome {
    display: flex;
}
.div_foto {
    display: flex;
    width: 50%;
    height: 60vh;
}

/* Rodapé */
.footer{
    color: black;
    background-color: plum;
    height: 130px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.footer ul li{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 150px;
}

.footer h4 {
    margin: 0;
}

.footer .redes-sociais h4{
    display: flex;
    align-items: flex-start;
}

/* login */
.login {
    display: flex;
    margin-top: 130px;
    justify-content: center;
    padding: 110px;
    padding-top: 200px;
    
}

.login .box {
    width: 1000px;
    height: fit-content;
    text-align: center;
    background-color: gainsboro;
    border-radius: 10px;
    border: solid 2px #717880;
}

.login .box .fazerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

/* cadastro */

